* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

body {
	background: black;
	color: white;
	font-family: "tahoma", san-serif;
	text-align: center;
}

h1{
	font-size: 350%;
	font-weight: 1000;
	text-align: center;
	padding: 0;
	border: 5px solid white;
	margin: 1% 1% auto;
	clear: both;
}

.icon_text {
	font-size: 175%;
	line-height: 100%;
	padding: 3% 0;
	font-weight: 400; 
	text-align: center;
	margin: 5% 0 1% 0;
}

h1:hover {
	transition: ease;
	transition-duration: 0.5s;
	color: yellow;
	font-size: 500%;
}

h2{
	font-size: 175%;
	line-height: 100%;
	padding: 3% 0;
	font-weight: 400; 
	text-align: center;
	margin: 5% 0 1% 0;
}

p {
	font-size: 150%;
	line-height: 120%;
	font-weight: 100;
}

header{
	width: 90%;
	display: inline-block;
	margin: 1% 1% 0 1%;
}

header:after {
	content: "";
	display: block;
	clear: both;
}

.banner {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: black;
	margin-bottom: 1%;
	z-index: 1;
}

input#menu {
	display: none;
}

input:checked ~ #navigation {
	max-height: 100%;
	background-color: grey;
	padding-top: 1%;
}

#navigation {
	max-height: 0;
	overflow: hidden;
}

a, a:link, a:visited {
	text-decoration-color: white;
	color: white;
}

a:active {
	color: yellow;
}

.one-fifth{
	width: 19%;
	float: left;
	text-align: center;
	margin-bottom: 1%;
}

i{
	font-size: 600%;
	transition-duration: 0.8s;
}

i:hover {
	color: yellow;
	transform: rotateY(360deg);
}

.block {
	float: left;
	text-align: center;
	width: 20%;
}

.block i {
	margin-top: 20%;
}

.main {
	width: 60%;
	padding: 1%;
	text-align: center;
}

#content {
	margin-top: 5%;
}

#content:after {
	content: "";
	display: block;
	clear: both;
}

footer {
	margin: 10% 4% 1% 4%;
	width: 90%;
	clear: both;	
}


#one-fourth {
	width: 25%;
	display: inline-block;
}
#list {
	display: inline-block;
	float: right;
	margin-top: 1%;
	line-height: 175%;
	width: 50%;
}
#pic1 {
	display: inline-block;
	float: left;
	width: 50%;
	border: 3px solid white;
}

/*MEDIA QUERIES*/

/*TABLETS*/
@media screen and (max-width: 800px) {
i{
	font-size: 500%;
}

.icon_text {
	font-size: 100%;
	line-height: 100%;
	padding: 3% 0;
	font-weight: 400; 
	text-align: center;
	margin: 5% 0 1% 0;
}

#content {
	margin-top: 8%;
}

.main {
	float: right;
	margin: 0 auto;
	width: 75%;
}

.main p {
	text-align: left;
}

.side {
	width: 20%;
	display: inline-block;
	float: left;
	clear: left;
}

.contacts {
	display: inline-block;
	float: left;
	clear: left;
	width: 100%;
}


#pic1 {
	display: block;
	width: 100%;
	border: 5% solid white;
	margin: 10% auto;
	clear: both; 
}

#list {
	display: inline-block;
	margin: 2% 0 auto;
	float: none;
	line-height: 120%;
	text-align: center;
}

input:checked ~ #navigation {
	padding-top: 5%;
}

h1 {
	font-size: 400%;
}

h1:hover {
	transition: none;
	color: white;
	font-size: 400%;
}
/*END OF TABLETS*/

/*MOBILEPHONES*/
@media screen and (max-width: 500px) {

i{
	font-size: 250%;
}

.icon_text {
	font-size: 60%;
	line-height: 100%;
	margin-left: 5%;
	padding: 3% 0;
	font-weight: 300; 
	text-align: center;
}

.main {
	display: block;
	clear: both;
	float: none;
	margin: 0 auto;
	width: 100%;
}

.main p {
	text-align: center;
}


#content {
	position: relative;
	margin-top: 12%;
}

.right {
	position: absolute;
	top:0;
	float: right;
}

.side {
	width: 50%;
	display: inline-block;
	float: left;
	clear: none;
}

.contacts {
	display: inline-block;
	float: left;
	clear: none;
	width: 50%;
}

#list {
	display: inline-block;
	margin: 2% 0 auto;
	float: none;
	line-height: 150%;
	text-align: center;
}

h1:hover {
	transition: none;
	color: white;
	font-size: 200%;
}

}

@media screen and (max-width: 400px){
#content {
	margin-top: 15%;
}

h1{
	font-size: 250%;
}
}
/*END OF MOBILEPHONE*/
