* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

body {
	background: black;
	color: white;
	font-family: "tahoma", san-serif;
	text-align: center;
}

h1{
	font-size: 350%;
	font-weight: 1000;
	text-align: center;
	padding: 0;
	border: 5px solid white;
	margin: 2% 2% 0 2%;
	clear: both;
}

h1:hover {
	transition: ease;
	transition-duration: 0.5s;
	color: yellow;
	font-size: 500%;
}

h3{
	font-size: 175%;
	line-height: 100%;
	padding: 3% 0;
	font-weight: 400; 
	text-align: center;
	margin: 5% 0 1% 0;
}

p {
	font-size: 150%;
	line-height: 120%;
	font-weight: 100;
}

header{
	width: 100%;
	display: inline-block;
}

a, a:link, a:visited {
	text-decoration-color: white;
	color: white;
}

a:active {
	color: yellow;
}

.one-fifth{
	width: 20%;
	float: left;
	text-align: center;
	margin: 1% 0;
}

 i{
	font-size: 600%;
	transition-duration: 0.8s;
}

i:hover {
	color: yellow;
	transform: rotateY(360deg);

}

.block {
	float: left;
	text-align: center;
}

.main {
	width: 60%;
	padding: 1%;
	text-align: center;
}

.side {
	width: 20%;
}

.block i {
	margin-top: 20%;
}

footer {
	margin-top: 0;
	width: 100%;
	clear: both;
}


#title {
	clear: both;
}

#one-fourth {
	width: 25%;
	display: inline-block;
}
#list {
	display: inline-block;
	float: right;
	margin-top: 7%;
}
#pic1 {
	display: inline-block;
	float: left;
	width: 50%;
	border: 3px solid white;
}